* {

    font-family: 'work sans';
    margin: 0px;
    padding: 0px;



}

/* Header sction style here  */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-tittle {
    color: #131313;
    font-size: 2.5rem;
}

.nav {
    color: #424242;
    font-family: Work Sans;
    font-size: 16px;
    /* font-weight: 500; */
    /* line-height: 26px; */
    /* 144.444% */
}

.navigation>ul>li {
    text-decoration: none;
    list-style: none;
}

.navigation>ul {
    display: flex;
    gap: 30px;
    /* padding-right: 100px; */
}

header {
    background-color: blanchedalmond;
    padding: 50px 240px;
}

/* Banner section style started here  */
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    margin-top: 50px;
}

.banner-tittle {
    color: #131313;
    font-size: 3.5rem;
    /* font-weight: 700; */
    padding-bottom: 15px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    /* font-weight: 400; */
    /* line-height: 26px; */
    padding-bottom: 15px;
}

.primary-button {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: 0px;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 50px;
}

img {
    text-align: center;
    width: 100%;
}




/* main section style are here */
.main {
    max-width: 1440px;
    margin: 80px auto;
}

.team-container {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    margin-right: 75px;
    padding: 0px 70px;
}

.image-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-right: 75px;
    /* justify-content: center; */
    text-align: center;
}

#quick {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

#our {

    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}


#Features {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;

}

.team-description {
    color: #727272;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 25px 0px;

}

/* responsive header and banner section */
/* small screen mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 10px;
    }

    .navigation {
        flex-direction: column;
    }
}

/* tablet or medium screen mobile devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px 100px;
    }

    .navigation {
        flex-direction: column;
    }

}



/* media quiry for main section */
@media screen and (max-width:576px) {
    .team-container{
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 0px ;
        margin-right: 0px;
    }
    .image-content{
        grid-template-columns: 1fr;
        margin-right: 0px;
    }
    .team-content{
        padding-left: 10px;
    }
}
/* resonsive for medium screen or tablet devices */
@media screen and (min-width:576px) and (max-width:960px) {

    .team-container{
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 0px ;
        margin-right: 0px;
    }
    .image-content{
        grid-template-columns:repeat(2,1fr);
        margin-right: 0px;
        
    }
}