
* {

    font-family:'work sans';
    margin: 0px;
    padding: 0px;



}

/* Header sction style here  */

.navigation{
    display: flex;
    justify-content: space-between;
    
}
.navigation>ul>li{
    text-decoration: none;
    list-style: none;
}
.navigation>ul{
    display: flex;
    gap: 30px;
    /* padding-right: 100px; */
} 
header{
    background-color: blanchedalmond;
    padding: 50px 240px;
}